.Main{
    flex:1;
    display:flex;
    flex-direction: column;
}

.mainBody {
    padding-left:10%;
    padding-right:10%;
    padding-top:4px;
    flex:1;
    background-color: #f1f1f1;
    font-family: Roboto;
    overflow: scroll;
}